PORT=3001
DB_HOST=127.0.0.1
DB_NAME=restful_template
DB_USER=postgres
DB_PASSWORD=postgres
JWT_SECRET=change_this_secret
JWT_EXPIRES=1h
APP_URL=http://localhost:3000
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=
SMTP_PASS=
SMTP_FROM="no-reply@example.com"
